.main-container
{
    margin-top: 0px;
}


.offers-page
{
    width: 100%;
    height:100%;
    /* background-color: #F6C6EA; */
    background-color: #ECF2FF;
    /* padding:10px 0px; */
    font-family: 'Poppins-Bold';
    /* padding: 0px 0px 100px 0px; */
    text-align: center;
    /* padding:60px 0px 30px 0px; */
}

.offers-page .csm-heading 
{
    font-size: 20px;
    margin: auto;
    color: #576CBC;
    
}

.winner-container, .winner-list-container
{
    margin:30px 0px;
}

.offers-page .description
{
    font-size: small;
    opacity: 0.9;
}

.others
{
    opacity: 0.3;
}

.winner-declaration-heading
{
    font-weight: 600;
    color: #066163;
    font-size: medium;
    margin-top: 20px;
}

.winner
{
    color: green;
}


.winner-image
{
    width: 100%;
    margin: auto;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #C8B6E2;
    background-color: #C8B6E2;
    border-radius: 5px;
    margin-bottom: 5px;
}

.winner-name
{
    font-size: 22px;
    font-weight: 600;
}

.winner-details
{
    text-align: left;
    padding-left:10px;
}

.winner-div
{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.winner-component
{
    
}

.no-image
{
    color: #C689C6;
    font-size: 80px;
    text-align: center;
}

.digit
{
    background-color: #C689C6;
    padding:5px;
    border-radius: 5px;
    margin:2px;
    width: 30px;
    height: 40px;
    font-size: 20px;
    color: white;
}


.digits
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timmer
{
    justify-content: center;
}

.phoneNumber
{
    background-color: #C689C6;
    color: white;
    width: max-content;
    margin: auto;
    padding:5px;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
}

.next-offer-div
{
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.next-offer-product-image
{
    background-color: #C8B6E2;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image
{
    width:100%;
    height: 100%;
}

.product-name
{
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 0cap;
    margin:10px 0px 0px 0px;
}

.product-worth{
    margin-bottom: 0px;
    color: #019267;
    font-weight: 600;
}

.product-description
{
    margin-bottom: 0px;
    opacity: 0.8;
    font-size: medium;
}

.offer-details
{
    padding-left: 10px;
}

.section-heading
{
    margin-top: 20px;
    color: #005555;
    font-weight: 600;
}

.winner-date
{
    opacity: 0.8;
}

.carousel
{
    background-color: transparent;
}

.carousel-control-next-icon,.carousel-control-prev-icon
{
    background-color: transparent;
}

.next-offer
{
    margin-bottom: 50px;
}

.congratulations-container
{
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 30px;
    margin-top: 20px;

}

.bouquet-image
{
    width:150px;
    height: 150px;
}

.congrats-message
{
    margin-bottom: 0px;
}

.congratulations-container .winner-name
{
    margin-bottom: 0px;
}

.generating-winner-container
{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.generating-winner-container img
{
    width:100vw;
    height: 130vw;
    margin-top:100px
}

.generating-text
{
    font-weight: 900;
    font-size: 20px;
    font-family: 'Poppins-Bold';
    letter-spacing: 1px;
    color: #654E92
}

.waiting-time-container img
{
    width:100vw;
    height: 50vh;
    margin-top:50px
}

.waiting-time-container 
{
    width:100vw;
    height: 100vh;
    background-color: white;
    padding-top: 100px;
}

.waiting-time-container .winnner-phone-number
{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: max-content;
}

.winner-each-number
{
    border: 1px solid black;   
    padding: 0px 5px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #407BFE;
    color: white;
}

.showing-time-container
{
    width:100vw;
    height: 100vh;
    background-color: #DDDDDD;
}

.showing-time-container img
{
    width:100vw;
    height:150vw;
}

.congrats-message
{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Vesna Regular';
    color: #245953;
}

.congrats-message p{
    margin-bottom: 0px;
}

.showing-time-container .winner
{
    font-size: 22px;
    color: #25316D;
    font-weight: 600;
    letter-spacing: 1px;
}

.winnner-phone-number
{
    margin-top:100px;
}

.offer-product-image img
{
    width: 100%;
    height: 200px;
}

.no-users-found-msg
{
    margin:20px
}

.loading-msg
{
    margin:20px;
}

.total-users-count, .active-users-count, .inactive-users-count
{
    display: inline;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;
}

.counters
{
    margin:0px 0px 10px 0px;
}

.item-priceAfterDiscount, .item-price
{
    padding-left: 0px;
    padding-right: 0px;
}

.csm-logo
{
    width: 30px;
    height: 30px;
}